@import url('https://fonts.googleapis.com/css?family=Satisfy');
	body, html{
		height: 100%;
		wideth: 100%;
	}

	body { /* General style rules for the body section */
		text-align: center;
		font-size: 20px;
		padding: 10px;
	}
.div1 {
	float: left;
}

	audio {
		display: none;
	}

	h1 { /* Matches elements with h3 tag */
		font-family: 'Satisfy', cursive;
		color: White;
	}

	h4 {
		font-family: 'Satisfy', cursive;
		color: White;
	}

/*test*/
* {
  box-sizing: border-box;
}
/* Header/Blog Title */
.header {
	background-color: #0271E8;
	border-style: groove ridge inset;
	border-width: 20px;
	border-color: #0DE0FF;
	margin: auto;
  padding: 5px;
	width: 20%;
	height: 15%;
	text-align: center;
}

.header h1 {
  font-size: 30px;
}
/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
	background-color: #0271E8;
	border-style: groove ridge inset;
	border-width: 15px;
	border-color: #0DE0FF;
  float: right;
	margin-top: 2%;
	margin-right: 30%;
  width: 40%;
	height: 100%;
}

/* Right column */
.rightcolumn {
	background-color: #0271E8;
	background-position: left;
	border-style: groove ridge inset;
	border-width: 15px;
	border-color: #0DE0FF;
  float: left;
	margin-left: 11%;
	margin-top: 3%;
  width: 15%;
	height: 50%;
}

/* Fake image */
.fakeimg {
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  padding: 10px;
  margin-top: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  float: left;
	margin-top: 2500px;
	margin-left: 2%;
  text-align: center;
}

/*test*/
div{
  width: 100%;
  height: 100%;
  position: relative;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-name: example;
  -webkit-animation-duration: 4s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 2s;
  -webkit-animation-iteration-count: 2;
  -webkit-animation-direction: alternate;
  /* Standard syntax */
  animation-name: example;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-delay: 2s;
  animation-iteration-count: 2;
  animation-direction: alternate;
}


/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  0%   {left:0px; top:0px;}
  25%  {left:200px; top:0px;}
  50%  {left:200px; top:200px;}
  75%  {left:0px; top:200px;}
  100% {left:0px; top:0px;}
}

/* Standard syntax */
@keyframes example {
  0%   {left:0px; top:0px;}
  25%  {left:200px; top:0px;}
  50%  {left:200px; top:200px;}
  75%  {left:0px; top:200px;}
  100% {left:0px; top:0px;}
}
